/* Home.css */

body, html, #root {
    height: 100%;
    margin: 0;
    background-color: #ffffff; /* Light Turquoise background */
    background-size: cover;
    background-position: center;
}

.homepage-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9); /* White background with some opacity */
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for a lifted effect */
    width: 80%; /* Adjust width as needed */
    max-width: 1200px; /* Max width for larger screens */
    position: fixed; /* Fixed positioning to stay at top-right */
    top: 20px; /* Adjust vertical position */
    right: 20px; /* Adjust horizontal position */
    display: flex;
    flex-direction: column;
    align-items: flex-end !important; /* Align items to the right */
    justify-content: flex-start !important; /* Align items to the top */
}

.heading {
    font-weight: bold;
    color: #008080; /* Dark Turquoise color */
    font-size: 3rem; /* Larger font size for better visibility */
    margin-bottom: 20px; /* Spacing below the heading */
    text-align: center; /* Center the heading text */
    font-family: 'Arial', sans-serif; /* Updated font family */
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align buttons to the right */
    margin-top: 20px; /* Space between heading and buttons */
}

.button-container .MuiButton-root {
    background-color: #40E0D0; /* Light Turquoise */
    color: #FFFFFF; /* White text color */
    margin-top: 10px; /* Spacing between buttons */
    padding: 10px 20px; /* Padding inside buttons */
    border-radius: 5px; /* Rounded corners for buttons */
    text-transform: none; /* Default case for button text */
}

.button-container .MuiButton-root:hover {
    background-color: #32C8C2; /* Slightly darker turquoise */
}

.slick-slider {
    width: 100%;
    margin: 0 auto;
}

.slick-slide {
    padding: 0 10px; /* Adjust padding for slider */
}

.slick-prev, .slick-next {
    z-index: 1;
    width: 20px; /* Reduced size */
    height: 40px; /* Reduced size */
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    border: none; /* Remove default border */
}

.slick-prev:hover, .slick-next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.slick-prev:before, .slick-next:before {
    color: white;
    font-size: 16px; /* Adjust size of arrows */
}
